.fleet-info{
  padding:6px;
  border:1px solid #5f5f5f;
  background:#454545;
}

.fleet-queue{
	width:448px;
	float:left;
	clear:left;
}

.fleet-queue .margin{
	margin-top:10px;
}

.fleet-queue h2{
	margin-top:15px;
	margin-bottom:10px;
}

.fleet-queue form p{
	margin-bottom:5px;
}


.fleet-transfer{
	float:right;
	width:448px;
}

.fleet-transfer select, .fleet-queue select{
	height:24px;
	padding:4px;
}

.fleet-transfer option, .fleet-queue option{
	height:18px;
}

.fleet-transfer h2{
	margin-top:20px;
	margin-bottom:10px;
}

.fleet-transfer .amount, .fleet-queue .amount{
	width:120px;
}

.fleet-transfer input, .fleet-queue input{
	width:60px;
	padding:2px;
	height:14px;
}

.colonise input[type=text]{
	width: 150px;
}

.fleet-queue input[type=checkbox]{
	width: auto;
	padding: 0px;
	height: auto;
}

.fleet-queue label{
	width: auto;
}

.fleet-transfer td, .fleet-queue td{
	line-height: 17px;
}

.fleet-transfer td img, .fleet-queue td img{
	width:17px;
	height:17px;
}

.fleet-transfer input[type=submit], .fleet-queue input[type=submit]{
	width:auto;
	height:22px;
}

#fleet-queue td{
	cursor:move;
}