#nav .universe{
  background:black;
  width:auto;
  padding:3px;
  border:1px solid #888;
  margin:0px auto;
  width:648px;
}

#nav .galaxy{
  background:black;
  width:auto;
  padding:3px;
  border:1px solid #888;
  margin:0px auto;
  width:800px;
}

#nav .system{
  background:black;
  width:auto;
  padding:3px;
  border:1px solid #888;
  margin:0px auto;
  width:870px;
}

ul.nav{
  margin:0;
  padding:0;
  list-style:none;
}

ul.nav li{
  float:left;
  padding:2px;
  display:block;
  margin:1px;
  border:1px solid #555;
}

ul.nav .col1{
  clear:left;
}

ul.nav {
  display:block;
}

ul.nav li.owned{
  border:1px solid green;
}

ul.nav li.allied{
  border:1px solid blue;
}

ul.nav li.enemy{
  border:1px solid red;
}

ul.nav a img{
  display:block;
  width:100px;
  height:100px;
}

ul.sys a img{
  width:32px;
  height:32px;
}

ul.planet li{
  width:150px;
  height:150px;
  display:block;
}

ul.planet li a{
  display:block;
}

ul.planet li a:hover{
  background:none;
}

ul.planet img{
  display:block;
  width:100px;
  height:100px;
  margin:0px auto;
}

ul.planet li{
  padding:10px;
}

ul.planet span{
  display:block;
  text-align:center;
  margin-top:2px;
}

ul.planet .enemy .planet-ruler{
  color:red;
}

ul.planet .allied .planet-ruler{
  color:blue;
}

ul.planet .owned .planet-ruler{
  color:green;
}

ul.planet .planet-alliance{
	color:white;
}
